/*Custom CSS*/

.right-padding-40 {
    margin-right: 40px !important;
}

.inline-form-item {
    margin-left: 10px;
}

.left-margin-medium {
    margin-left: 20px;
}

.small-input {
    width: 80px !important;
}

.xsmall-input {
    width: 60px !important;
}

.image-fit {
    width:100%;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.modal-backdrop {
    height: 100%;
}

.navbar .inline-form-item {
    color:  #ccc;
}