<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>

  <title>Instagram Collage</title>

  <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-colorpicker/3.0.17/css/colorpicker.min.css"
        th:href="@{/webjars/angular-bootstrap-colorpicker/3.0.17/css/colorpicker.min.css}" rel="stylesheet"
        media="screen"/>
  <link href="../static/css/app.css" th:href="@{/css/app.css}" rel="stylesheet" media="screen"/>
</head>
<body ng-app="collage">
<div class="container-fluid" ng-controller="MainCtrl">
  <div class="row">
    <div class="col-sm-12">

      <div th:attr="ng-init='userSearch=\''+${userName}+'\';'"></div>
      <div th:attr="ng-init='userId=\''+${userId}+'\';'"></div>

      <!-- Navigation -->
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Instagram Collage</a>
        </div>

        <form class="navbar-form navbar-left" role="form">
          <div class="form-group">
            <!-- Feed toggle-->
            <div class="btn-group inline-form-item" dropdown>
              <button type="button" class="btn btn-primary" dropdown-toggle>
                {{feedToggle.current.name}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                <li role="menuitem"><a href="#" ng-click="feedToggle.doToggle()">{{feedToggle.alternate.name}}</a>
                </li>
              </ul>
            </div>
            <!-- End Feed toggle-->
          </div>
        </form>

        <div>
          <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <div class="inline-form-item">
                  <label for="userSearch">
                    Акаунт :
                  </label>
                  <input class="form-control" id="userSearch" type="text" ng-model="userSearch"
                         typeahead="user for user in searchUsers($viewValue)"
                         typeahead-loading="loadingUsers"
                         typeahead-no-results="noUsersFound"
                         typeahead-editable="false"
                         typeahead-min-length="3"
                         typeahead-wait-ms="300">
              <span ng-show="loadingUsers">
                <i class="glyphicon glyphicon-refresh"></i>
              </span>
              <span ng-show="noUsersFound">
                <i class="glyphicon glyphicon-warning-sign"></i>
              </span>
                </div>
              </div>
            </form>
            <li>
              <a class="right-padding-40" href="/logout">Вихід</a>
            </li>
          </ul>
        </div>

      </nav>
      <!-- End Navigation -->

      <!-- Toolbar -->
      <div class="row">
        <div class="col-sm-12 panel">
          <form class="form-inline" role="form" name="form">
            <div class="form-group">

              <label class="inline-form-item" for="inputCols">
                Колонок:
              </label>
              <input class="form-control xsmall-input" id="inputCols" type="number" min="1" max="32"
                     ng-model="params.cols"/>

              <label class="inline-form-item" for="inputRows">
                Рядків:
              </label>
              <input class="form-control xsmall-input" id="inputRows" type="number" min="1" max="32"
                     ng-model="params.rows"/>

              <label class="inline-form-item" for="inputWidth">
                Ширина:
              </label>
              <input class="form-control small-input" id="inputWidth" type="number" min="10" max="3200"
                     ng-model="params.width"/>

              <label class="inline-form-item" for="inputHeight">
                Висота:
              </label>
              <input class="form-control small-input" id="inputHeight" type="number" min="10" max="3200"
                     ng-model="params.height"/>

              <button type="button" class="left-margin-medium btn btn-success"
                      ng-disabled="disableSubmit || !form.$valid" ng-click="onCollage()">
                Згенерувати <span class="glyphicon glyphicon-play"></span>
              </button>

            </div>
          </form>
        </div>
      </div>
      <!-- End Toolbar -->

      <div class="row">
        <div class="col-sm-12">
          <div class="center-block panel">
            <table>
              <tr ng-repeat="row in imageTable">
                <td ng-repeat="col in row">
                  <img ng-src="{{col.lowResUrl}}">
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script id="adhoc/error-modal.html" type="text/ng-template">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="onCancel()">×</button>
    <h4 class="modal-title">Error {{error.status}}</h4>
  </div>
  <div class="modal-body">
    <h3>{{error.data.error}}</h3>

    <p>{{error.data.message}}<br>{{error.data.path}}</p>
  </div>
</script>

<script id="adhoc/collage-modal.html" type="text/ng-template">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="onCancel()">×</button>
    <h4 class="modal-title">Колаж</h4>

    <div class="panel">
      <a class="center-block btn btn-primary" href="/collage/{{collage.id}}" target="_blank" download="collage">
        Завантажити <span class="glyphicon glyphicon-download-alt"></span>
      </a>
    </div>
  </div>
  <div class="modal-body">
    <div class="row panel">
      <div class="col-sm-12">
        <img class="center-block img-rounded image-fit" ng-src="/collage/{{collage.id}}">
      </div>
    </div>
  </div>
</script>

<!--
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.1/js/bootstrap.min.js}"></script>
-->
<script src="http://cdn.jsdelivr.net/webjars/angularjs/1.3.8/angular.min.js"
        th:src="@{/webjars/angularjs/1.3.8/angular.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular-resource.min.js"
        th:src="@{/webjars/angularjs/1.3.8/angular-resource.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.3/ui-bootstrap-tpls.min.js"
        th:src="@{/webjars/angular-ui-bootstrap/0.13.3/ui-bootstrap-tpls.min.js}"></script>
<script type="text/javascript" src="../static/js/app.js"
        th:src="@{/js/app.js}"></script>
<script type="text/javascript" src="../static/js/api-factory.js"
        th:src="@{/js/api-factory.js}"></script>
<script type="text/javascript" src="../static/js/modal-controllers.js"
        th:src="@{/js/modal-controllers.js}"></script>
<script type="text/javascript" src="../static/js/main-ctrl.js"
        th:src="@{/js/main-ctrl.js}"></script>
</body>
</html>