<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>

  <title>Error</title>

  <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

</head>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">

      <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Instagram Collage</a>
        </div>
      </nav>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">

          <div class="panel panel-default">
            <div class="panel-body">
                <h3>Нажаль, сталася помилка</h3>
                <hr>
                <h4 th:text="${status}"></h4>
                <p th:text="${error}"></p>
                <p th:text="${message}"></p>
            </div>
            <div class="panel-body">
              <a class="center-block btn btn-primary" href="/">На головну</a>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

</body>
</html>