<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>

  <title>Instagram Collage</title>

  <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>
<body ng-app="linkApp">

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">

      <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Instagram Collage</a>
        </div>
      </nav>

      <div class="jumbotron">
        <h2>
          Вітаємо!
        </h2>
        <p>
          Для продовження Вам треба авторизуватися через свій аккаунт в Instagram
        </p>
        <p>
          <a class="btn btn-primary btn-lg" href="/login">Увійти в Instagram</a>
        </p>
      </div>
    </div>
  </div>
</div>

</body>
</html>